.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  width: 100%;
  border-top: 2px solid black;
}

.watch {
  position: relative;
}

.watch_H,
.watch_M,
.watch_S {
  position: absolute;
  left: calc(50% - 200px);
  /* transition: transform ease-in-out 0.1s; */
}

button {
  margin: 12px 0 10px 0;
}

main {
  margin-bottom: 100px;
}

.phonebook {


  div {
    button {
      margin: 0;
    }
  }

  button {
    margin-top: 16px;
  }
}


button:hover {
  background-color: #595e67;
  cursor: pointer;
}